# pytest
pytest

# multipart
python-multipart

# dotenv
python-dotenv

# Kivy
kivy[full]
kivymd

# SQLAlchemy
sqlalchemy

# PostgreSQL
psycopg2-binary

# fastapi
fastapi

# uvicorn
uvicorn

# starlette
starlette.staticfiles